.ui.button,.ui.basic.button {
    border-radius: 2.285714rem;
}

.ui.buttons .button:first-child {
    border-top-left-radius: 2.285714rem;
    border-bottom-left-radius: 2.285714rem;
}

.ui.buttons .button:last-child {
    border-top-right-radius: 2.285714rem;
    border-bottom-right-radius: 2.285714rem;
}

.ui.gree.button {
    background-color: #94C83D;
}

.ui.buttons .or:before {
    content: 'o';
}
#barra-encabezado .logo-header{
    text-indent: -9999px;
    width: 290px;
    height: 40px;
    background: url(../assets/images/logo-black.png) no-repeat;
    background-size: cover;
}
#barra-encabezado.celeste{
    background-color: #32A7DF;
    color: #fff;
}
#barra-encabezado.celeste .logo-header{
    background: url(../assets/images/logo.png) no-repeat;
    background-size: cover;
}
#barra-encabezado.celeste .item{
    color: #fff;
}

#barra-encabezado.celeste .icon{
    color: #fff;
}

#barra-encabezado.ui.menu > .container > .item {
    border-left: none;
}
#barra-encabezado.ui.menu .item:before {
    background: none;
}
.ye7.arrow{
    width: 50px;
    height: 25px;
    font-family: Icons;
    font-style: normal;
    font-weight: 400;
    color: #000;
    font-size: 2em;
    text-align: center;
    padding: 8px;
}
.ye7.arrow:hover {
    -webkit-animation: shake 1s;
    animation: shake 1s;
}
.ye7.arrow.white {
    background: #fff;
}
.ye7.arrow.green {
    background:#94C83D;
    color:#fff;
}
.ye7.arrow:before {
    content: "\f107";
}
.ye7.arrow.tobotom{
    -webkit-border-top-left-radius: 25px;
    -webkit-border-top-right-radius: 25px;
    -moz-border-radius-topleft: 25px;
    -moz-border-radius-topright: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position:absolute;
    bottom:0;
}
.ye7.arrow.centered{
    left: 50%;
    margin-left: -25px;
}

#contenido {
  width: 100%;
  height: 100%;
  padding-top: 65px;
}
#contenido .middle {
  height: 100%
}

@media only screen and (max-width: 767px){
  .ui.grid .ui.stackable.grid, .ui.segment:not(.vertical) .ui.stackable.page.grid {
       margin-left: 0 !important; 
       margin-right: 0 !important; 
  }
}

/* BIENVENIDA */
#pantallaBienvenida {
    width: 100%;
    height: 100%;
    padding-top: 120px;
    color: white;
    background: #26a8e6;
    background: -moz-linear-gradient(top, #26a8e6 0%, #26a8e6 26%, #07d5ff 100%);
    background: -webkit-linear-gradient(top, #26a8e6 0%,#26a8e6 26%,#07d5ff 100%);
    background: linear-gradient(to bottom, #26a8e6 0%,#26a8e6 26%,#07d5ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26a8e6', endColorstr='#07d5ff',GradientType=0 );
    overflow: hidden;
    position: relative;
}

#pantallaBienvenida p {
    font-size: 1.5em;
    text-align: center;
}

a,a:hover {
  text-decoration: none;
  color: inherit;
}

.ui.pequenia.image {
  width: 100px;
}

.saltar:hover {
    -webkit-animation: rubberBand 1s;
    animation: rubberBand 1s;
}

#pantallaBienvenida .ui.header {
    font-size: 2em;
    color: white;
}

#pantallaBienvenida .imagebg {
    width: 600px;
    background: url(../assets/images/boceto.png) bottom center no-repeat;
    background-size: contain;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    bottom: -160px;
    height: 300px;
}

#player {
  display: none;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed,.embed-container .middle {
    position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
}

.embed-container .middle {
  height: 100%;
  position: absolute;
}

/* Mobile */
@media only screen and (max-width: 767px) {
  [class*="mobile hidden"],
  [class*="tablet only"]:not(.mobile),
  [class*="computer only"]:not(.mobile),
  [class*="large screen only"]:not(.mobile),
  [class*="widescreen only"]:not(.mobile),
  [class*="or lower hidden"] {
    display: none !important;
  }
}

/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  [class*="mobile only"]:not(.tablet),
  [class*="tablet hidden"],
  [class*="computer only"]:not(.tablet),
  [class*="large screen only"]:not(.tablet),
  [class*="widescreen only"]:not(.tablet),
  [class*="or lower hidden"]:not(.mobile) {
    display: none !important;
  }
}

/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  [class*="mobile only"]:not(.computer),
  [class*="tablet only"]:not(.computer),
  [class*="computer hidden"],
  [class*="large screen only"]:not(.computer),
  [class*="widescreen only"]:not(.computer),
  [class*="or lower hidden"]:not(.tablet):not(.mobile) {
    display: none !important;
  }
}

/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  [class*="mobile only"]:not([class*="large screen"]),
  [class*="tablet only"]:not([class*="large screen"]),
  [class*="computer only"]:not([class*="large screen"]),
  [class*="large screen hidden"],
  [class*="widescreen only"]:not([class*="large screen"]),
  [class*="or lower hidden"]:not(.computer):not(.tablet):not(.mobile) {
    display: none !important;
  }
}

/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {
  [class*="mobile only"]:not([class*="widescreen"]),
  [class*="tablet only"]:not([class*="widescreen"]),
  [class*="computer only"]:not([class*="widescreen"]),
  [class*="large screen only"]:not([class*="widescreen"]),
  [class*="widescreen hidden"],
  [class*="widescreen or lower hidden"] {
    display: none !important;
  }
}


/*INCLUDED*/

.masthead.segment {
      min-height: 700px;
      padding: 1em 0em;
    }
    .masthead .logo.item img {
      margin-right: 1em;
    }
    .masthead .ui.menu .ui.button {
      margin-left: 0.5em;
    }
    .masthead h1.ui.header {
      margin-top: 3em;
      margin-bottom: 0em;
      font-size: 4em;
      font-weight: normal;
    }
    .masthead h2 {
      font-size: 1.7em;
      font-weight: normal;
    }

    .ui.vertical.stripe {
      padding: 8em 0em;
    }
    .ui.vertical.stripe h3 {
      font-size: 2em;
    }
    .ui.vertical.stripe .button + h3,
    .ui.vertical.stripe p + h3 {
      margin-top: 3em;
    }
    .ui.vertical.stripe .floated.image {
      clear: both;
    }
    .ui.vertical.stripe p {
      font-size: 2em;
    }
    .ui.vertical.stripe .horizontal.divider {
      margin: 3em 0em;
    }

    .quote.stripe.segment {
      padding: 0em;
    }
    .quote.stripe.segment .grid .column {
      padding-top: 5em;
      padding-bottom: 5em;
    }

    .footer.segment {
      padding: 5em 0em;
    }

    .secondary.pointing.menu .toc.item {
      display: none;
    }

    @media only screen and (max-width: 700px) {
      .ui.fixed.menu {
        display: none !important;
      }
      .secondary.pointing.menu .item,
      .secondary.pointing.menu .menu {
        display: none;
      }
      .secondary.pointing.menu .toc.item {
        display: block;
      }
      .masthead.segment {
        min-height: 350px;
      }
      .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
      }
      .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
      }
    }