
    .hidden.menu {
      display: none;
    }
    .ui.button {
        border-radius: 2.285714rem;
    }
    .logobar {
      max-width: 200px;
    }
    #cabecerahome {
      background-image: url(../assets/images/fondof.jpg);
      /* background-size: cover; */
      background-position: center center;
      position: relative;
      background-color: #26A8E6;
      background-repeat: no-repeat;
    }
    #se-parte .ui.header, #cabecerahome .ui.header{
      color: white;
    }
    #se-parte .ui.header {
      font-size: 2.5em;
    }
    #porque {
      position: relative;
    }
    #porque .ui.medium.header {
      font-size: 2.3em;
    }
    #porque p {
      font-size: 1.6em;
    }
    #logoHome {
          width: 4.5em;
    }
    #logoHeader {
          object-fit: cover;
          max-width: 30%;
    }
    #se-parte {
      background: #94C83D;
      color: #fff;
      position: relative;
      border-bottom: none;
    }
    #separte .ui.vertical.segment
    #se-parte .ui.header {
      color: #fff;
    }
    #quienes-somos .sub.header {
      text-align: center;
    }